@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/User_Layout.cshtml";


}
<div class=" container hi row justify-content-center">

    <div class="smain  form rounded-4 p-1 pt-4 col-12 col-md-8 col-lg-6 col-xl-4  ">



        <form class="d-flex flex-column  align-items-center was-validated " id="resetpass" name="signUp" method="post">
            <h1 class="text-center  mt-4    fw-bold loginText">Reset Password</h1>

            @{
                if (ViewBag.resetpassword == false)
                {
                    <h6 class="text-danger mt-4 fw-light text-opacity-75">Enter a New Password</h6>
                    <div class="input-group input-group-lg w-75">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><svg xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                            </svg></span>
                        <div class="form-floating">
                            <input type="password" name="newPassword" class="form-control password aria-label=" Sizing example
                                input" aria-describedby="inputGroup-sizing-lg" placeholder="Password" id="password" required
                                >
                            <label for="floatingInputGroup1">Password</label>
                        </div>
                        <!-- confirm password -->
                    </div>
                }
                else
                {
                    <div class="input-group input-group-lg w-75 mt-4">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><svg xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                            </svg></span>
                        <div class="form-floating">
                            <input type="password" name="newPassword" class="form-control password aria-label=" Sizing example
                                input" aria-describedby="inputGroup-sizing-lg" placeholder="Password" id="password" required
                                >
                            <label for="floatingInputGroup1">Password</label>
                        </div>
                        <!-- confirm password -->
                    </div>
                }
            }
            
            <div class="input-group input-group-lg w-75 mt-4">
                <span class="input-group-text" id="inputGroup-sizing-lg"><svg xmlns="http://www.w3.org/2000/svg"
                        width="20" height="20" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                        <path
                            d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5" />
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                    </svg></span>

                <div class="form-floating">
                    <input type="password" class="form-control confpass aria-label=" Sizing example input"
                        aria-describedby="inputGroup-sizing-lg" placeholder="Confirm Password" id="confpass" required>
                    <label for="floatingInputGroup1">Confirm Password</label>

                </div>

            </div>
            <button class="btn btn-info mt-5 bu p-3 ps-5  pe-5  mb-3" id="confirm" type="submit">Confirm</button>

        </form>

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }


    </div>

</div>