@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "Edit Admin User";
}

<h1>Edit Admin</h1>
<br />

<form asp-action="Edit" class="mt-4">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
